/*General*/

body{
  background-color: #b91450;
  padding-top: 10px;
}

h5{
  font-size: inherit;
  color:#b91450 ;
}

.debug{
  background-color: rgba(0, 255, 255, 0.455);
}

.bg-white{
  background-color: white;
}

.border-r{
  border-radius: 10px;
}

.height-150-px{
  height: 150px;
}

.height-80-px{
  height: 80px;
}

.border-ticket{
  border: 1px solid black;
}

.padding-left{
  padding-left: 10px;
}

.margin-x-10{
  margin: 0px 5px 0px 5px;
}

.padding-y{
  padding: 10px 0px 10px 0px ;
}

.pink{
  color: #c12e63;
}

.padding-y-{
  padding: 30px 0px 0px 0px;
}

select{
  border-radius: 5px;
  border: solid 1px #c12e63;
}

.bor-rad-5px{
  border-radius: 5px;
}

.form-control{
  width: 140px;
  height: 26px;
  border: #c43a6c solid 1px;
}

.bg-gray{
  background-color: #808080;
}

.margin-side-5{
  margin: 0px 5px 0px 5px;
}
/*Elements*/

.userName-cont{
  width: 140px;
  display: flex;
  justify-content: center;
}

table{
  border: 1px solid black;
  border-right: 0;
  border-left: 0;
}

